*{
    margin: 0;
    padding: 0;
}

div{
    text-align: center;
    align-items: center;   
    
}

.Letras{
    inset: 0px; 
    box-sizing: border-box; 
    padding: 0px; 
    border: none;
    width: 300px; 
    height: 200px; 
    
}
