*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media (max-width: 900px) {
    .nav-menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }    
}


:root{
    --mainColor: #fff;
    --secondColor: rgb(118, 118, 190);
    --textColor: black;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    padding: 0 2rem;
    /*background-color: var(--mainColor);*/
    color: var(--textColor);
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondColor);
    text-decoration: underline;
}

.nav-btn{
    padding: 18px 25px;
    cursor: pointer;
    background: var(--textColor);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    outline: none;
    color: #fff;
}
.nav-btn .Enviar{
    text-decoration: none;
    color: #fff;
}
.nav-btn:hover{
    background: var(--secondColor);
}

img{
    width: 50px;
    height: 50px;
}

.mobile{
    display: none;
    width: 40px;
    height: 40px;
}
@media (max-width: 900px) {
    .mobile{
        display: inline;
    }
}

